<!-- BEGIN markup for Preference Editor -->
<div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
    <!-- This is the div that will contain the Preference Editor component -->
    <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

    <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
    <div class="fl-panelBar">

			<nav class="nav--cross">
				<ul class="nav__list">
					<li class="nav__item{% if site.title == "Abler" %} nav__item--active{% endif %}"><a class="nav__link" href="https://ablersite.org/">abler</a></li>
					<li class="nav__item{% if site.title == "Adaptation + Ability Group" %} nav__item--active{% endif %}"><a class="nav__link" href="/">adaptation + ability<span class="hide-xs"> group</span></a></li>
					<li class="nav__item {% if site.title == "Sara Hendren" %} nav__item--active{% endif %}"><a class="nav__link" href="https://ablersite.org/about/#post-3519">sara hendren</a></li>
					<li class="nav__item nav__item--last nav__item--icon">
							<span class="fl-prefsEditor-buttons">
				          <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset">Reset</button>
				          <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide">Toggle Reader Preferences</button>
				      </span>
					</li>
					<li class="nav__item nav__item--icon">
						<a class="nav__link nav__link--about" href="#footer" title="About These Sites">
							About These Sites
						</a>
					</li>
				</ul>
			</nav>

    </div>
</div>
<!-- END markup for Preference Editor -->
