<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" type="text/css" href="/css/infusion/Enactors.css" />
		<link rel="stylesheet" type="text/css" href="/css/infusion/PrefsEditor.css" />
		<link rel="stylesheet" type="text/css" href="/css/infusion/SeparatedPanelPrefsEditor.css" />

		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body class="{% if page.collection %}body--subpage{% endif %}">
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		{% include shared-includes/preferences-editor.html %}

		{% include shared-includes/cross.html %}
		{% include shared-includes/primary.html %}

		<div class="flc-toc-tocContainer toc"></div>

		{{content}}

		{% include shared-includes/footer.html %}

		<script type="text/javascript" src="//code.jquery.com/jquery-3.0.0.min.js" data-no-instant></script>

		<script src="/js/plugins.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
		<script type="text/javascript">
			$("article").fitVids();
		</script>

		<script type="text/javascript" src="/js/infusion-all.js" data-no-instant></script>
		<script type="text/javascript">
			fluid.uiOptions.prefsEditor(".flc-prefsEditor-separatedPanel", {
					terms: {
							"templatePrefix": "../../src/framework/preferences/html",
							"messagePrefix": "../../src/framework/preferences/messages"
					},
					"tocTemplate": "../../src/components/tableOfContents/html/TableOfContents.html",
					"ignoreForToC": {
							"overviewPanel": ".flc-overviewPanel"
					}
			});
		</script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
		<script data-no-instant>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-80670118-1', 'auto');

			InstantClick.on('change', function() {
			  ga('send', 'pageview', location.pathname + location.search);
			});

			InstantClick.init();
		</script>

	</body>
</html>
