{% assign image = include.image | remove: '/uploads/' | replace: '%20', ' ' %}

<figure class="figure {% if include.style == "bigcaption" %}figure--bigcaption{% endif %}">
		{% img "{{image}}"
				magick:resize:767x767^
				class:"figure__image lazyload"
				data-src:"{{asset_path}}"
				width:"400"
				height:"300"
				alt:"{{ include.image-caption }}" %}
	{% if include.image-caption %}
		<figcaption class="figure__caption">{{ include.image-caption | markdownify }}</figcaption>
	{% endif %}
</figure>
