<figure class="figure {% if include.style == "bigcaption" %}figure--bigcaption{% endif %}">
		<img class="figure__image lazyload"
			{% if include.image contains '/uploads' %}
			src="{{ site.imgix }}{{ include.image | remove: "/uploads" }}?w=10&fit=min&auto=compress"
				ix-path="{{ include.image | remove: "/uploads" }}"
				ix-params='{
					"w": 767,
					"fit": "min",
					"auto": "compress"
				}'
				ix-host="{{ site.imgix | remove: "http://"  }}"
				sizes="(min-width: 75em) 767px, 100vw"
			{% else %}
				src="{{ include.image}}"
			{% endif %}
			alt="{{ include.image-caption }}">
	{% if include.image-caption %}
		<figcaption class="figure__caption">{{ include.image-caption | markdownify }}</figcaption>
	{% endif %}
</figure>
