<nav class="nav--cross">
	<ul class="nav__list">
		<li class="nav__item{% if site.title == "Abler" %} nav__item--active{% endif %}"><a class="nav__link" href="http://abler.siteleaf.net">Abler</a></li>
		<li class="nav__item{% if site.title == "Adaptation + Ability Group" %} nav__item--active{% endif %}"><a class="nav__link" href="http://adaptationabilitygroup.siteleaf.net">Adaptation + Ability Group</a></li>
		<li class="nav__item{% if site.title == "Sara Hendren" %} nav__item--active{% endif %}"><a class="nav__link" href="http://sarahendren.siteleaf.net">Sara Hendren</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Reader Preferences</a></li>
	</ul>
</nav>
